<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
       <%= image_tag @user.get_profile_image(100,100) %>
        <table class="table">
          <tbody>
          <tr>
  	        <th>name</th>
  	        <th><%= @user.user_name %></th>
          </tr>
          <tr>
  	        <th>introduction</th>
  	        <th><%= @user.introduction %></th>
          </tr>
          </tbody>
        </table>
        <%= link_to edit_public_user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
    </div>
        

  
    <div class="col-md-8 offset-md-1">
      <div class="table">
        <h2>Illusts</h2>
          <thead>
            
          </thead>
          <tbody>
            <% @illusts.each do |illust| %>
              <tr>
                <br>
                  <td>
                      title
                    <br>
                      <%= illust.title %>
                  </td>
                    <%= link_to public_illust_path(illust.id) do %>
                      <%= image_tag illust.get_image(200,200) %>
                    <% end %>
                  <br>
                  <br>
                  <td>
                      user name
                    <br>
                      <%= illust.user.user_name %>
                  </td>
                  <td>
                    <%= link_to public_user_path(illust.user.id) do %>
                      <%= image_tag illust.user.get_profile_image(50,50) %>
                    <% end %>
                </td>
              </tr>
            <% end %> 
          </tbody>
      </div>
    </div>
  </div>
</div>
