<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
       <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
        <tr>
	        <th>name</th>
	        <th><%= @user.name %></th>
        </tr>
        <tr>
	        <th>introduction</th>
	        <th><%= @user.introduction %></th>
        </tr>
        </tbody>
      </table>
      <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
      <% end %>
      
　    <h1>New book</h1>
　    <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
        <ul>
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
        



  <div class="col-md-8 offset-md-1">
  <table class="table">
    <h2>Books</h2>
      <thead>
        <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        </tr>
      </thead>
      <tbody>
        <% @illusts.each do |illust| %>
        <tr>
        <td><%= link_to user_path(illust.user.id) do %>
          <%= image_tag illust.user.get_profile_image(100,100) %>
          <% end %>
        </td>
        
        <%= form_tag({controller: "illusts", action:"index"}, method: :get) do %>
          <%= text_field_tag :tag %>
          <%= submit_tag 'add tag' %>
        <% end %>
        
        <td><%= link_to illust_path(illust.id) do %>
          
          <% end %>
        </td>
          <td><%= illust.detail %></td>
          <td><%= illust.user.name %></td>
          <td><%= link_to "#{illust.comments.count}コメント", illust_path(illust.id)) %></td>
        </tr>
        <% end %> 
  </div>
</div>
</div>