<% if @illust.errors.any? %>
  <%= @illust.errors.count %>件のエラーが発生しました
  <ul>
    <% @illust.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>イラスト投稿</h1>
  <%= form_with model: @illust do |f| %>
    <h4>イラスト</h4>
      <%= f.file_field :image, accept: "image/*" %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Detail</h4>
      <%= f.text_area :detail %>
    <%= f.submit '投稿' %>
  <% end %>