<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
        <%= form_with url: public_user_path, method: :PATCH do |f| %>
          <p>Name</p>
          <%= f.text_field :user_name %>
          <p>Image</p>
          <%= f.file_field :profile_image %>  
          <p>Introduction</p>
          <%= f.text_field :introduction %>
          <div><%= f.submit "Create User" %></div>
        <% end %>
    </div>
  </div>
</div>
